{% extends 'base.html' %}
{% block main_info %}
{% block author %}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='32a2ce496db85a297e49e1c515dd75ca.png')}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{some_text}}</p>
        <a href="https://github.com/Natalia-Kurylko"><img src="{{url_for('static', filename='github-logo-icon-30.png')}}" width="10%"></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}