
{% extends 'base.html' %}
{% block main_info %}

<div class="card mb-3" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{url_for('static', filename='headphones.jpg')}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{some_text}}</p>
        <p class="card-text">Number of words in the text is: {{number}}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}